<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scheduler_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Scheduler_Bot.Properties.Settings>
            <setting name="folderposted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileposted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="chatId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="running" serializeAs="String">
                <value>False</value>
            </setting>
        </Scheduler_Bot.Properties.Settings>
    </userSettings>
</configuration>